:root {
    --fonte-primaria: 'Nunito', sans-serif;
    --fonte-secundaria: 'Roboto', sans-serif;

    --azul: #4169E1;
    --cinza: #E2E6F2;
    --branco: #F3F5FC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
}

textarea {
    resize: none;
    width: 100%; /* Tornando a largura responsiva */
    height: 200px; /* Ajuste conforme necessário */
    border: none;
    outline: none;
    background-color: rgb(237, 245, 245);
    border-radius: 0 0 10px 10px;
    padding: 10px;
}

.label-title {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.encryption-area {
    display: flex;
    flex-direction: column; /* Alterado para coluna em telas menores */
    align-items: center;
    margin: 0 5%;
}

.encryption-area-base {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-inline: 20px;
    background-color: rgb(0, 140, 255);
    display: flex;
    flex-direction: column;
    width: 100%; /* Tornando a largura responsiva */
    border-radius: 10px 10px 50px 50px;
}

/* Estilos responsivos */
@media only screen and (min-width: 600px) {
    .encryption-area {
        flex-direction: row; /* Alterado para linha em telas maiores */
    }

    textarea {
        height: 400px; /* Ajuste conforme necessário */
    }
}
