:root {
    --fonte-primaria: 'Nunito', sans-serif;
    --fonte-secundaria: 'Roboto', sans-serif;

    --azul: #4169E1;
    --cinza: #E2E6F2;
    --branco: #F3F5FC;
    --preto-suave: #404040;
    --preto: #181818;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-primaria);
    background-color: var(--branco);
    color: var(--preto-suave);
    font-size: 1rem;
}

/* CABEÇALHO DA PÁGINA */
header {
    display: flex;
    margin-top: 2.5rem;
    margin-left: 7.5rem;
    margin-bottom: 5rem;
}

#cabecalho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#titulo {
    font-family: var(--fonte-primaria);
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: #4169E1;
}

#subtitulo {
    font-family: var(--fonte-primaria);
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #4169E1;
}

/* CONJUNTOS PRINCIPAIS */

#div-msg-alerta {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    margin-left: 7.5rem;
    margin-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
}

#img-alerta {
    margin-right: 0.5rem;
}

#conj-entrada-saida {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#conj-entrada {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0 3.75rem 0 7.5rem;
}

#conj-saida {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0 7.5rem 0 3.75rem;
}

textarea {
    background-color: var(--cinza);
    border: none;
    outline: none;
    resize: none;
    border-radius: 20px;
    width: 40vw;
    height: 35vh;
    padding: 10px;

}

button {
    margin-top: 2rem;
    margin-bottom: 8rem;
    width: calc(10vw + 20px);
    height: calc(5vh + 10px); 
    background-color: var(--azul);
    font-family: var(--fonte-primaria);
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--branco);
    border: none;
    border-radius: 20px;
    place-items: center;
    aspect-ratio: 2;
    width: 240px;
    height: 60px;
}

#bt-criptografar {
    border-radius: 20px 0 0 20px;
    margin-right: -2px;
}

#bt-descriptografar {
    border-radius: 0 20px 20px 0;
    background-color: var(--branco);
    color: var(--azul);
    outline-offset: 1px var(--azul);
    outline: 2px solid var(--azul);
    outline-offset: -2px;
    margin-left: -2px;
}

footer {
    
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: var(--azul);
    color: var(--branco);
}

@media screen and (max-width: 768px) {
    #conj-entrada-saida {
        display: flex;
        flex-direction: column;
    }

    
    }
